body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-bs-theme='dark'],
[data-bs-theme='light'] {
  .offcanvas,
  .offcanvas-lg {
    --bs-offcanvas-width: clamp(150px, 30%, 400px);
  }
}
