body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  position: relative;
}

.res {
  min-height: 88vmin;
}

.pl-3 {
  padding-left: 1rem;
}
.g-2 {
  gap: 1rem;
}
.pointer {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  transition: text-decoration 0.3s ease;
}
.pending {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
[data-bs-theme='dark'],
[data-bs-theme='light'] {
  .offcanvas,
  .offcanvas-lg {
    --bs-offcanvas-width: clamp(150px, 30%, 400px);
  }
}
